<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cuentaxcobrarsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cuentaxcobrarsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cuentaxcobrarsystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$cuentaxcobrarsystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CxCEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cxcsystemdbserver.database.windows.net,1433;Initial Catalog=CxCSystem_db;User ID=jmena@cxcsystemdbserver;Password=asde280499$" Name="Data Source=tcp:cxcsystemdbserver.database.windows.net,1433;Initial Catalog=CxCSystem_db;User Id=jmena@cxcsystemdbserver;Password=asde280499$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CxCSystem.Models.CxCEntities, CxCSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CxCEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DBModel.csdl|res://*/Models.DBModel.ssdl|res://*/Models.DBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:cxcsystemdbserver.database.windows.net,1433;Initial Catalog=CxCSystem_db;User Id=jmena@cxcsystemdbserver;Password=asde280499$"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>